* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
}

.p-container {
  padding: 102px 160px 70px;
}

.h-screen {
  height: 100vh;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}